@using Enza.Common
@using Enza.Common.Extensions
@{
Layout=null;
}
<!DOCTYPE html>
<html lang="en">
<head>   
	<meta charset="UTF-8" testing="haha">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <title>Enza: BAS</title>
    @Styles.Render("~/Content/style.min.css")
</head>
<body>
<div id="app" class="container"></div>
      <script type="text/javascript">
          var userContext = @Html.Raw(((UserProfile)ViewBag.UserContext).ToJson());
          var services = @Html.Raw((string)ViewBag.Services);
    </script>
	@Scripts.Render("~/scripts/index.bundle.js")
</body>
</html>