@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello/fontello.eot?46422621');
  src: url('../fonts/fontello/fontello.eot?46422621#iefix') format('embedded-opentype'),
  url('../fonts/fontello/fontello.woff2?46422621') format('woff2'),
  url('../fonts/fontello/fontello.woff?46422621') format('woff'),
  url('../fonts/fontello/fontello.ttf?46422621') format('truetype'),
  url('../fonts/fontello/fontello.svg?46422621#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?46422621#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-left-thin:before { content: '\2190'; } /* '←' */
.icon-cog:before { content: '\2699'; } /* '⚙' */
.icon-pencil:before { content: '\270e'; } /* '✎' */
.icon-cancel-1:before { content: '\2715'; } /* '✕' */
.icon-trash:before { content: '\e006'; } /* '' */
.icon-down-small:before { content: '\e009'; } /* '' */
.icon-left-small:before { content: '\e00e'; } /* '' */
.icon-right-small:before { content: '\e01b'; } /* '' */
.icon-up-small:before { content: '\e021'; } /* '' */
.icon-beaker-1:before { content: '\e025'; } /* '' */
.icon-male:before { content: '\e07b'; } /* '' */
.icon-clipboard:before { content: '\e07f'; } /* '' */
.icon-female:before { content: '\e098'; } /* '' */
.icon-trash-1:before { content: '\e729'; } /* '' */
.icon-down-open:before { content: '\e75c'; } /* '' */
.icon-left-open:before { content: '\e75d'; } /* '' */
.icon-right-open:before { content: '\e75e'; } /* '' */
.icon-up-open:before { content: '\e75f'; } /* '' */
.icon-list:before { content: '\e765'; } /* '' */
.icon-list-nested:before { content: '\e766'; } /* '' */
.icon-flow-tree:before { content: '\e792'; } /* '' */
.icon-book:before { content: '\e800'; } /* '' */
.icon-flow-cross:before { content: '\e801'; } /* '' */
.icon-book-open:before { content: '\e802'; } /* '' */
.icon-right-dir:before { content: '\e803'; } /* '' */
.icon-left-dir:before { content: '\e804'; } /* '' */
.icon-up-dir:before { content: '\e805'; } /* '' */
.icon-down-dir:before { content: '\e806'; } /* '' */
.icon-ccw:before { content: '\e807'; } /* '' */
.icon-pencil-1:before { content: '\e808'; } /* '' */
.icon-floppy:before { content: '\e809'; } /* '' */
.icon-arrows-ccw:before { content: '\e80a'; } /* '' */
.icon-file-excel:before { content: '\e80b'; } /* '' */
.icon-menu:before { content: '\e80c'; } /* '' */
.icon-plus-circle:before { content: '\e80d'; } /* '' */
.icon-minus-circle:before { content: '\e80e'; } /* '' */
.icon-cancel:before { content: '\e80f'; } /* '' */
.icon-beaker:before { content: '\e810'; } /* '' */
.icon-leaf:before { content: '\e811'; } /* '' */
.icon-ok:before { content: '\e812'; } /* '' */
.icon-pagelines:before { content: '\e813'; } /* '' */
.icon-chart:before { content: '\e814'; } /* '' */
.icon-check-empty:before { content: '\e815'; } /* '' */
.icon-ok-squared:before { content: '\e816'; } /* '' */
.icon-spin4:before { content: '\e817'; } /* '' */
.icon-user:before { content: '\e818'; } /* '' */
.icon-user-secret:before { content: '\e819'; } /* '' */
.icon-filter:before { content: '\e81a'; } /* '' */
.icon-resize-normal:before { content: '\e81b'; } /* '' */
.icon-resize-full:before { content: '\e81c'; } /* '' */
.icon-cog-1:before { content: '\e81d'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-cube:before { content: '\f1b2'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-object-group:before { content: '\f247'; } /* '' */
.icon-search:before { content: '\f50d'; } /* '' */
/*
  Animation example, for spinners
*/
.animate-spin {
  animation: spin 2s infinite linear;
  display: inline-block;
}

@-moz-keyframes spin {
  0% {

    transform: rotate(0deg);
  }

  100% {

    transform: rotate(359deg);
  }
}

@-webkit-keyframes spin {
  0% {

    transform: rotate(0deg);
  }

  100% {

    transform: rotate(359deg);
  }
}

@-o-keyframes spin {
  0% {

    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@-ms-keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

@font-face {
  font-family: 'robotolight';
  src: url('../fonts/roboto/roboto-light-webfont.eot');
  src: url('../fonts/roboto/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto/roboto-light-webfont.woff2') format('woff2'),
  url('../fonts/roboto/roboto-light-webfont.woff') format('woff'),
  url('../fonts/roboto/roboto-light-webfont.ttf') format('truetype'),
  url('../fonts/roboto/roboto-light-webfont.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotomedium';
  src: url('../fonts/roboto/roboto-medium-webfont.eot');
  src: url('../fonts/roboto/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto/roboto-medium-webfont.woff2') format('woff2'),
  url('../fonts/roboto/roboto-medium-webfont.woff') format('woff'),
  url('../fonts/roboto/roboto-medium-webfont.ttf') format('truetype'),
  url('../fonts/roboto/roboto-medium-webfont.svg#robotomedium') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/roboto/roboto-regular-webfont.eot');
  src: url('../fonts/roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
  url('../fonts/roboto/roboto-regular-webfont.woff') format('woff'),
  url('../fonts/roboto/roboto-regular-webfont.ttf') format('truetype'),
  url('../fonts/roboto/roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;

}