
.icon-left-thin:before { content: '\2190'; } /* '←' */
.icon-cog:before { content: '\2699'; } /* '⚙' */
.icon-pencil:before { content: '\270e'; } /* '✎' */
.icon-cancel-1:before { content: '\2715'; } /* '✕' */
.icon-trash:before { content: '\e006'; } /* '' */
.icon-down-small:before { content: '\e009'; } /* '' */
.icon-left-small:before { content: '\e00e'; } /* '' */
.icon-right-small:before { content: '\e01b'; } /* '' */
.icon-up-small:before { content: '\e021'; } /* '' */
.icon-beaker-1:before { content: '\e025'; } /* '' */
.icon-male:before { content: '\e07b'; } /* '' */
.icon-clipboard:before { content: '\e07f'; } /* '' */
.icon-female:before { content: '\e098'; } /* '' */
.icon-trash-1:before { content: '\e729'; } /* '' */
.icon-down-open:before { content: '\e75c'; } /* '' */
.icon-left-open:before { content: '\e75d'; } /* '' */
.icon-right-open:before { content: '\e75e'; } /* '' */
.icon-up-open:before { content: '\e75f'; } /* '' */
.icon-list:before { content: '\e765'; } /* '' */
.icon-list-nested:before { content: '\e766'; } /* '' */
.icon-flow-tree:before { content: '\e792'; } /* '' */
.icon-book:before { content: '\e800'; } /* '' */
.icon-flow-cross:before { content: '\e801'; } /* '' */
.icon-book-open:before { content: '\e802'; } /* '' */
.icon-right-dir:before { content: '\e803'; } /* '' */
.icon-left-dir:before { content: '\e804'; } /* '' */
.icon-up-dir:before { content: '\e805'; } /* '' */
.icon-down-dir:before { content: '\e806'; } /* '' */
.icon-ccw:before { content: '\e807'; } /* '' */
.icon-pencil-1:before { content: '\e808'; } /* '' */
.icon-floppy:before { content: '\e809'; } /* '' */
.icon-arrows-ccw:before { content: '\e80a'; } /* '' */
.icon-file-excel:before { content: '\e80b'; } /* '' */
.icon-menu:before { content: '\e80c'; } /* '' */
.icon-plus-circle:before { content: '\e80d'; } /* '' */
.icon-minus-circle:before { content: '\e80e'; } /* '' */
.icon-cancel:before { content: '\e80f'; } /* '' */
.icon-beaker:before { content: '\e810'; } /* '' */
.icon-leaf:before { content: '\e811'; } /* '' */
.icon-ok:before { content: '\e812'; } /* '' */
.icon-pagelines:before { content: '\e813'; } /* '' */
.icon-chart:before { content: '\e814'; } /* '' */
.icon-check-empty:before { content: '\e815'; } /* '' */
.icon-ok-squared:before { content: '\e816'; } /* '' */
.icon-spin4:before { content: '\e817'; } /* '' */
.icon-user:before { content: '\e818'; } /* '' */
.icon-user-secret:before { content: '\e819'; } /* '' */
.icon-filter:before { content: '\e81a'; } /* '' */
.icon-resize-normal:before { content: '\e81b'; } /* '' */
.icon-resize-full:before { content: '\e81c'; } /* '' */
.icon-cog-1:before { content: '\e81d'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-cube:before { content: '\f1b2'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-object-group:before { content: '\f247'; } /* '' */
.icon-search:before { content: '\f50d'; } /* '' */